@media (max-width: 500px) {
  .choiceBtn {
    display: block;
    width: 100%;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
}

body
{
  background: linear-gradient(to bottom, #569ecc, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}



#startScreen
{
  
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  min-height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);
  

}

.pageText
{
  color: #569ecc;
  font-size: 3em;
  font-weight: 800;
  -webkit-text-stroke: 3px black;
  
}

#startBtn
{
  color: #fee529;
  line-height: 200%;
  width: 50%;
  margin-top: 2%;
  background-color: #7f0101;
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529
  
  
}

#rules
{ 
  top: 55%;
  left: 50%;
  color: black;
  opacity: 0.5;
}

#startBtn:hover, #playerVsComputer:hover, .choiceBtn:hover, #refresh:hover
{
  transform: scale(1.1);
  cursor: pointer;
}

#startBtn:hover + #rules
{
  opacity: 1;
  
}

#gameMode
{
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  min-height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);
}

#playerVsComputer
{
  color: #fee529;
  line-height: 200%;
  width: 65%;
  margin-top: 2%;
  background-color: #7f0101;
  font-size: 1.7em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529;
  margin-top: 10%;
}

#playerVsPlayer
{
  color: #fee529;
  line-height: 200%;
  width: 65%;
  background-color: #7f0101;
  font-size: 1.6em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529;
  margin-top: -8%;
  
}

#gameMode img
{
  width: 8%;
  margin-left: 10px;
  
}

#commingSoon
{
  font-size: 2em;
  margin-top: 10%;
  color: rgba(14, 14, 14, 0.9);

}

#gameDiv{

  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  min-height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);
}

.choiceBtn{
  color: #fee529;
  margin: 0px 10px;
  margin-top: 10%;
  width: 28%;
  background-color: #7f0101;
  font-size: 1.6em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529;
  
  
}

.choiceBtn img {
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#finalPage
{
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  min-height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);

}

#resultText
{
  color: #fee529;
  line-height: 200%;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  background-color: #7f0101;
  font-size: 2em;

  border: 5px solid;
  border-color: #fee529
  
}

#playerText{
  color: #fee529;
}

#computerText{
  color: #fee529;
}

#refresh
{
  color: #fee529;
  line-height: 200%;
  width: 50%;
  margin: auto;
  margin-top: 15%;
  background-color: #7f0101;
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529
  
}