body
{
  background: linear-gradient(to bottom, #569ecc, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  Min-height: 100vh;
}



#startScreen
{
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);

}

.pageText
{
  color: #0098ff;
  font-size: 3em;
  font-weight: 800;
}

#startBtn
{
  color: #fee529;
  line-height: 200%;
  width: 50%;
  margin-top: 2%;
  background-color: #7f0101;
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529
  
  
}

#rules
{
  margin-top: 10%;
  color: black;
  opacity: 0.5;
}

#startBtn:hover, #playerVsComputer:hover, .choiceBtn:hover, #refresh:hover
{
  transform: scale(1.1);
}

#startBtn:hover + #rules
{
  opacity: 1;
  font-size: 2.5em;
}

#gameMode
{
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);
}

#playerVsComputer
{
  color: #fee529;
  line-height: 200%;
  width: 65%;
  margin-top: 2%;
  background-color: #7f0101;
  font-size: 1.7em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529;
  margin-top: 10%;
}

#playerVsPlayer
{
  color: #fee529;
  line-height: 200%;
  width: 65%;
  background-color: #7f0101;
  font-size: 1.6em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529;
  margin-top: 15%;
}

img[src="lås.png"]
{
  width: 12%;
  height: 15%;
  position: relative;
  top: -188px;
  left: 205px;

}

#commingSoon
{
  transform: rotate(10deg);
  font-size: 3em;
  position: relative;
  top: -18%;
  color: rgba(14, 14, 14, 0.9);

}

#gameDiv{
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);
}

.choiceBtn{
  color: #fee529;
  width: 28%;
  margin: 10px 10px;
  margin-top: 10%;
  background-color: #7f0101;
  font-size: 1.6em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529;
  height: 35%
  
}

.choiceBtn img {
  width: 100%; 
  height: 60%

}



#finalPage
{
  font-family: "arial";
  border: 6px solid;
  border-radius: 25px;
  border-color: #fee529;
  padding: 10px;
  background: linear-gradient(to top, #8b0000, #cc0202);
  text-align: center;
  height: 500px;
  width: 500px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.5);

}

#resultText
{
  color: #fee529;
  line-height: 200%;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  background-color: #7f0101;
  font-size: 2em;

  border: 5px solid;
  border-color: #fee529
  
}

#playerText{
  color: #fee529;
}

#computerText{
  color: #fee529;
}

#refresh
{
  color: #fee529;
  line-height: 200%;
  width: 50%;
  margin: auto;
  margin-top: 15%;
  background-color: #7f0101;
  font-size: 2em;
  border-radius: 25px;
  border: 5px solid;
  border-color: #fee529
  
}